<!DOCTYPE html>

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio de Sesión</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="login-container">
      <h2>Inicio de Sesión</h2>
      <form action="#" method="POST">
        <label for="role">Rol</label>
        <select id="role" name="role" required>
          <option value="medico">Médico</option>
          <option value="administrador">Administrador</option>
          <option value="paciente">Paciente</option>
        </select>

        <label for="username">Usuario</label>
        <input type="text" id="username" name="username" required />

        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" required />

        <button type="submit">Ingresar</button>
      </form>
    </div>
  </body>
</html>
