<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notificaciones</title>
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="container">
      <h2>Notificaciones</h2>
      <div class="alert alert-warning" role="alert">
        <strong>Alerta:</strong> El paciente Juan Pérez tiene un alto riesgo cardíaco.
      </div>
      <a href="#" class="btn btn-danger">Enviar Alerta Personalizada</a>
    </div>
  </body>
</html>
