<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualización y Análisis</title>
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="container">
      <h2>Visualización y Análisis de Pacientes</h2>
      <div class="form-group">
        <label for="filtro_riesgo">Filtrar por Riesgo</label>
        <select class="form-control" id="filtro_riesgo">
          <option>Alto Riesgo</option>
          <option>Medio Riesgo</option>
          <option>Bajo Riesgo</option>
        </select>
      </div>

      <h3>Lista de Pacientes</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Riesgo</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Pedro Gómez</td>
            <td>55</td>
            <td>Alto</td>
            <td><a href="#">Ver detalles</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
